.container {
    height: 300vh;
    position: relative;

    .sticky {
        position: sticky;
        overflow: hidden;
        top: 0;
        height: 100vh;

        .el {
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            .imageContainer {
                position: relative;
                width: 25vw;
                height: 15vw;

                img {
                    object-fit: cover;
                }
            }

            &:nth-of-type(2) {
                .imageContainer {
                    top: -30vh;
                    left: 5vw;
                    width: 35vw;
                    height: 23vh;
                }
            }

            &:nth-of-type(3) {
                .imageContainer {
                    top: -10vh;
                    left: -25vw;
                    width: 20vw;
                    height: 52vh;
                }
            }

            &:nth-of-type(4) {
                .imageContainer {
                    left: 27.5vw;
                    width: 25vw;
                    height: 33.5vh;
                }
            }

            &:nth-of-type(5) {
                .imageContainer {
                    top: 33vh;
                    left: 5vw;
                    width: 20vw;
                    height: 12vw;
                    z-index: 0;
                }
            }

            &:nth-of-type(6) {
                .imageContainer {
                    top: 31vh;
                    left: -22.5vw;
                    width: 30vw;
                    height: 24vh;
                    z-index: 0;
                }
            }

            &:nth-of-type(7) {
                .imageContainer {
                    top: 26.5vh;
                    left: 25vw;
                    width: 15vw;
                    height: 15vh;
                }
            }
        }
    }
}