* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #cac3bb;
    display: flex;
    flex-direction: column;
}

.hero-img {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero-img:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(251, 0, 255, 0) 0%,
        rgb(36, 36, 36) 100%
    );
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.word {
    display: flex;
}

.word span {
    cursor: pointer;
    font-family: "Druk LCG";
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10vw;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: bottom;
    color: #b6aea6;
}

@font-face {
    font-family: Druk LCG;
    src: url(./DrukWide-Bold-Trial.otf);
}